

  <div class="modal-header">
    <h4 *ngIf="isAddMode" class="modal-title" id="modal-basic-title">Add New Book</h4>
    <h4 *ngIf="!isAddMode" class="modal-title" id="modal-basic-title">Modify Book Details</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
   <form [formGroup]="bookForm" (ngSubmit)="onSubmitEvent()">
    <div class="modal-body">
      <div class="mb-3">
        <label for="title">Title *</label>
        <div class="input-group">
          <input
            formControlName="title"
            id="title"
            type="text"
            class="form-control"
            placeholder="Enter the title for new book"
            name="title"
          />
        </div>
        <div *ngIf="bookForm!.controls['title'].invalid && bookForm!.controls['title'].touched">
          <div *ngIf="bookForm!.controls['title'].errors!['required']" class="error">Title is required.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="imageUrl">Image URL *</label>
        <div class="input-group">
          <input
            formControlName="imageUrl"
            id="imageUrl"
            type="text"
            class="form-control"
            placeholder="Enter the Image URL"
            name="imageUrl"
          />
        </div>
        <div *ngIf="bookForm!.controls['imageUrl'].invalid && bookForm!.controls['imageUrl'].touched">
          <div *ngIf="bookForm!.controls['imageUrl'].errors!['required']" class="error">Image URL is required.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="purchaseLink">Purchase Link *</label>
        <div class="input-group">
          <input
            formControlName="purchaseLink"
            id="purchaseLink"
            type="text"
            class="form-control"
            placeholder="Enter the Purchase Link"
            name="purchaseLink"
          />
        </div>
        <div *ngIf="bookForm!.controls['purchaseLink'].invalid && bookForm!.controls['purchaseLink'].touched">
          <div *ngIf="bookForm!.controls['purchaseLink'].errors!['required']" class="error">Purchase Link is required.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="PublishDate">Published Date *</label>
        <div class="input-group">
          <input
            formControlName="PublishDate"
            id="PublishDate"
            type="text"
            class="form-control"
            placeholder="Enter the Published Date in YYYY format"
            name="PublishDate"
          />
        </div>
        <div *ngIf="bookForm!.controls['PublishDate'].invalid && bookForm!.controls['PublishDate'].touched">
          <div *ngIf="bookForm!.controls['PublishDate'].errors!['required']" class="error">Published Date is required.</div>
          <div *ngIf="bookForm!.controls['PublishDate'].errors!['pattern']" class="error">Published Date is invalid.</div>
        </div>
      </div>
      <!-- <button type="submit" class="btn btn-outline-dark">Save</button> -->
    </div>
    <div class="modal-footer">
      <button *ngIf="isAddMode"
        type="submit"
        [disabled]="bookForm.invalid"
        class="btn btn-outline-primary"
      >
        Save
      </button>
      <button *ngIf="!isAddMode"
        type="submit"
        [disabled]="bookForm.invalid"
        class="btn btn-outline-primary"
      >
        Update
      </button>
    </div>
  </form>