.author-info {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.author-name {
  font-size: 28px;
  margin: 0 0 10px 0;
}

.author-dob,
.author-birthplace {
  font-size: 18px;
  margin: 0;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color: white, $alpha: 0.6);
}

.button-style {
  background-color: #1883a3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0.3rem;
  margin: 20px;
  width: 150px;
}

.button-container {
  float: right;
}

.btn-style{
  width: 130px;
  margin-right: 10px;
  height: 30px;
  // margin-left: 10px !important;
  font-size: 14px;
  border-radius: 16px !important;
}

.sort-style{
  font-size: 14px;
  font-weight: bold;
  color: #262525;
  padding: 5px;
  background: #fff;
}