<!-- Alert messages for successful add or update -->
<p *ngIf="bookAdded">
  <ngb-alert type="success" (closed)="close()">New Book added successfully</ngb-alert>
</p>
<p *ngIf="bookUpdated">
  <ngb-alert type="success" (closed)="close()">Book information Updated successfully</ngb-alert>
</p>
<!-- Author information -->
<div class="author-info" *ngIf="data">
  <h2 class="author-name">{{ data.author }}</h2>
  <p class="author-dob"><strong>Date of Birth:</strong> {{ data.birthday }}</p>
  <p class="author-birthplace">
    <strong>Place of Birth:</strong> {{ data.birthPlace }}
  </p>
</div>
<!-- Button section -->
<div class="button-container">
  <div class="btn-group">
    <p class="sort-style">Sorted By: </p>
    <button class="btn-style btn  btn-{{sortByTitle ? 'warning' : 'success'}}" (click)="toggleSort()">
     {{ sortByTitle ? " Title" : "Published Date"}}
    </button>
  </div>
  <div class="col-12">
    <button (click)="openAddEditModal(content)" class="button-style">ADD BOOK</button>
  </div>
  <div class="col-12">
    <button class="button-style" (click)="onReset()">RESET PAGE</button>
  </div>
</div>
<!-- Displaying list of books -->
<div class="book-list">
  <div *ngFor="let book of books; let i = index" class="book col-12 col-sm-12 col-md-6 col-lg-6">
    <app-book-info [bookInfo]="book" [indexVal]="i" (actionID)="getActionID($event)"></app-book-info>
  </div>
</div>
<ng-template #content let-modal>
  <app-add-modify-book [isAddMode]="isAddMode" [bookValue]="bookValue" (closeEvent)="modal.dismiss('Cross click')"
    (submitEvent)="onSubmit($event)"></app-add-modify-book>
</ng-template>