.author-info {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.author-name {
  font-size: 28px;
  margin: 0 0 10px 0;
}

.author-dob,
.author-birthplace {
  font-size: 18px;
  margin: 0;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color: white, $alpha: 0.6);
}

.button-style {
  background-color: #1883a3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  // float: right;
  border-radius: 0.3rem;
  margin: 20px;
}
.button-container{
  float: right;
}


.add-book:hover {
  background-color: #0069d9;
}

.error {
  color: red;
}

